.cell_goblin {
    background-image: url(../../img/goblin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
  }